[Desktop Entry]
Name=alienblaster
Comment=Shooting arcade game
Comment[pl]=Zręcznościowa strzelanka
Icon=alienblaster
Exec=alienblaster
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8